{%- block grid -%}
    <table>
        <thead>
            {{- grid_header_row(grid) -}}
        </thead>
        <tbody>
            {% for item in data %}
                {{- grid_row(grid, item) -}}
            {% endfor %}
        </tbody>
    </table>
{%- endblock grid -%}

{%- block grid_header_row -%}
    <tr>
        {% for column in grid %}
            {{- grid_header_column(column) -}}
        {% endfor %}
    </tr>
{%- endblock grid_header_row -%}

{%- block grid_header_column -%}
    <th>{{ grid_header_widget(column) }}</th>
{%- endblock -%}

{%- block grid_row -%}
    <tr>
        {% for column in grid %}
            {{- grid_column(column, data) -}}
        {% endfor %}
    </tr>
{%- endblock grid_row -%}

{%- block grid_column -%}
    <td>{{ block('grid_widget') }}</td>
{%- endblock -%}

{%- block grid_header_widget -%}
    {{ column.vars.label|trans({}, column.vars.translation_domain) }}
{%- endblock -%}

{%- block grid_widget -%}
    {{ column.getValue(item) }}
{%- endblock -%}
