{%- block grid -%}
    <table>
        <thead>
            {{- grid_header_row(grid) -}}
        </thead>
        <tbody>
            {% for item in data %}
                {{- grid_row(grid, item) -}}
            {% endfor %}
        </tbody>
    </table>
{%- endblock grid -%}

{%- block grid_header_row -%}
    <tr>
        {% for column in grid.columns %}
            {{- grid_header_column(column) -}}
        {% endfor %}
    </tr>
{%- endblock grid_header_row -%}

{%- block grid_header_column -%}
    <th>{{ grid_header_widget(column) }}</th>
{%- endblock -%}

{%- block grid_row -%}
    <tr>
        {% for column in grid.columns %}
            {{- grid_column(column, data) -}}
        {% endfor %}
    </tr>
{%- endblock grid_row -%}

{%- block grid_column -%}
    <td>{{ grid_widget(column, item) }}</td>
{%- endblock -%}

{%- block grid_header_widget -%}
    {{- block('grid_header_label') -}}
{%- endblock -%}

{% block grid_header_label %}
    {{ label }}
{% endblock %}

{%- block grid_widget -%}
    {% if url is defined %}
        <a href="{{ url }}">{{ column.getValue(item) }}</a>
    {% else %}
        {{ column.getValue(item) }}
    {% endif %}
{%- endblock -%}
