{%- block grid -%}
    <table>
        <thead>
            {{- grid_header_row(grid) -}}
        </thead>
        <tbody>
            {% for item in data %}
                {{- grid_row(grid, item) -}}
            {% endfor %}
        </tbody>
    </table>
{%- endblock grid -%}

{%- block grid_header_row -%}
    <tr>
        {% for column in grid.columns %}
            {{- grid_header_column(column) -}}
        {% endfor %}
        {% if grid.actions|length %}
            <th></th>
        {% endif %}
    </tr>
{%- endblock grid_header_row -%}

{%- block grid_header_column -%}
    <th {{ block('widget_attributes') }}>{{ grid_header_widget(column) }}</th>
{%- endblock -%}

{%- block grid_row -%}
    <tr>
        {% for column in grid.columns %}
            {{- grid_column(column, data) -}}
        {% endfor %}
        {% if grid.actions|length %}
            {{ grid_actions(grid, data) }}
        {% endif %}
    </tr>
{%- endblock grid_row -%}

{%- block grid_column -%}
    <td {{ block('grid_attributes') }}>{{ grid_widget(column, item) }}</td>
{%- endblock -%}

{%- block grid_actions -%}
    <td class="prezent-grid-actions">
        {% for action in grid.actions %}
            {{ grid_action(action, data) }}
        {% endfor %}
    </td>
{%- endblock -%}

{%- block grid_header_widget -%}
    {{- block('grid_header_label') -}}
{%- endblock -%}

{% block grid_header_label %}
    {{ label }}
{% endblock %}

{%- block grid_widget -%}
    {% if url is defined %}
        <a href="{{ url }}">{{ value }}</a>
    {% else %}
        {{ value }}
    {% endif %}
{%- endblock -%}

{%- block grid_string_widget -%}
    {% if truncate %}
        {{ block('grid_widget')|trim|truncate(truncate is sameas (true) ? 32 : truncate, truncate_word, truncate_separator) }}
    {% else %}
        {{ block('grid_widget') }}
    {% endif %}
{%- endblock -%}

{%- block grid_action -%}
    <a href="{{ url }}" {{ block('grid_attributes') }}>{{ label }}</a>
{%- endblock -%}

{%- block grid_attributes -%}
    {%- for attrname, attrvalue in attr -%}
        {{- " " -}}
        {%- if attrvalue is sameas(true) -%}
            {{- attrname }}="{{ attrname }}"
        {%- elseif attrvalue is not sameas(false) -%}
            {{- attrname }}="{{ attrvalue }}"
        {%- endif -%}
    {%- endfor -%}
{%- endblock -%}
